.divider {
    height: 1px;
    background-color: var(--point);
    pointer-events: none;
    padding: 0;
    margin: 4px 4px;  
  }
  
  .sm {
    margin: 2px 4px;
  }
  
  .lg {
    margin: 8px 4px;
  }
  