@import 'color.scss';

.app-body {
  width: 100vw;
  height: 100vh;
  background: var(--back);
}

.app-body1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #F0F6F0;
}

.app-body2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #51B9CD;
}