$rosequartz: #F0F6F0;
$turquoise: #51B9CD;
$babyblue: #AAF1F5;
$midnightblue: #3A5673;

$disabled-grey: #c7c7c7;

:root {
    --back: #F0F6F0;
    --point: #51B9CD;
}

.dark {
    --back: #3A5673;
    --point: #AAF1F5;
}