.components {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--back);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.components .header {
  width: calc(100% - 200px);
  padding: 40px 100px 0px 100px;

  color: var(--point);
  text-decoration: none;
  font-size: 4em;
  font-weight: 700;
}

.components .section {
  position: relative;

  flex: 1;
}

.components .contents {
  position: relative;
  margin: 100px 0px;
  width: fit-content;
  height: calc(100% - 200px);
  background: var(--point);
  display: flex;

  .contents-area {
    width: calc(100vw - 300px);
    height: calc(100% - 280px);
    margin: 100px;
    padding: 40px 50px;
    border-radius: 16px;
    background: var(--back);
  }
}

.prev-btn {
  position: absolute;
  width: 32px;
  height: 32px;

  background: center url(./prev.svg) transparent no-repeat;

  top: 50%;
  left: 20px;
  z-index: 2;

  cursor: pointer;
}

.dark .prev-btn {
  background: center url(./prev-dark.svg) transparent no-repeat;
}

.next-btn {
  position: absolute;

  width: 32px;
  height: 32px;

  background: center url(./next.svg) transparent no-repeat;

  top: 50%;
  left: calc(100vw - 50px);
  z-index: 2;

  cursor: pointer;
}

.dark .next-btn {
  background: center url(./next-dark.svg) transparent no-repeat;
}