@import 'color.scss';

.landing {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--back);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing .header {
    padding-top: 30px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        color: var(--point);
        text-decoration: none;
        font-size: 5vw;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        user-select: none;
    }

    .dark-mode {
        width: 32px;
        height: 32px;
        background: center url(./moon-outline.svg) transparent no-repeat;
        cursor: pointer;

        &:hover {
          background: center url(./moon-outline-hover.svg) transparent no-repeat;
        }

        &.active {
            background: center url(./sunny-outline.svg) transparent no-repeat;

            &:hover {
              background: center url(./sunny-outline-hover.svg) transparent no-repeat;
            }
        }
    }
}

.landing .main {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        -webkit-mask: url(./mask.png) no-repeat center center;
        mask: url(./mask.png) no-repeat center center;
        -webkit-mask-size: 100vw;
        mask-size: 100vw;
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        user-select: none;
        mix-blend-mode: screen;
    }

    .txt {
        z-index: 2;
        font-size: 12vw;
        font-weight: 700;
        user-select: none;

        color: $rosequartz;
        text-shadow: 1px 1px 0 #e1e1e1,
        2px 2px 0 #e1e1e1,
        3px 3px 0 #e1e1e1,
        4px 4px 0 #e1e1e1,
        5px 5px 0 #e1e1e1,
        6px 6px 0 #e1e1e1,
        7px 7px 0 #e1e1e1,
        8px 8px 0 #e1e1e1,
        25px 35px 0 rgba(0,0,0,0.1);
        text-transform: uppercase;
        display: flex;
        
        span {
          position: relative !important;
        }
    }
}

.landing .footer {
    padding: 0px 50px 30px 50px;
    width: calc(100% - 100px);

    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-text {
        width: 100%;

        font-size: Min(2em, 4vw);
        color: var(--point);
    
        text-align: right;
    }
}

.down-arrow {
    width: 48px;
    height: 48px;
    background: center url(./down-arrow.svg) transparent no-repeat;

    text-align: center;

    animation: bounce 3s infinite;
}

.dark .down-arrow {
  background: center url(./down-arrow-dark.svg) transparent no-repeat;
}

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}