@mixin scollbar {
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      margin-top: 10px;
      margin-bottom: 10px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: var(--point);
      border-radius: 50px;
    }
  }
  