.link--component {
    display: inline-block;
    cursor: pointer;
    color: var(--point);
    font-size: 18px;
    width: fit-content;

    &:hover {
        filter: brightness(1.05);
        text-decoration: underline;
    }
}